/* GENERAL STYLES */
body { margin:0; padding:0; }

/*header part*/
#banner { display:block; background:url('../images/banneri.jpg') no-repeat center; height:200px; width:100%; }

#wrapper { width:96%; margin-left:auto; margin-right:auto; border:1px solid black; height:auto;}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

#navbox { 
	margin:0;
	padding:0;
	padding:7px 0 7px 0;
	width:100%;
	text-align:center;
	border:1px solid red; 
	list-style-type: none; 
	font-size:16px;
	
}
#navbox li { display:inline-block; margin-left:20px;}
#navbox  li a:link, #navbox  li a:visited { text-decoration:none; color:#5882FA;} 
#navbox  li a:hover { color:#315FDF; } 
#navbox  li a:active { color:#000; }

#filter-container { 
	text-align:center; 
	margin-left:auto; 
	margin-right:auto; 
	padding:0; 
	margin-bottom:2em;
	list-style-type: none; 
}
#filter-container  li { 
	display:inline-block; 
	padding:7px; 
	background-color:#BDBDBD; 
	border-radius: 5px;
	box-shadow: 2px 3px 5px #888888;
}
#filter-container  li a:link,#filter-container  li a:visited  { text-decoration:none; color:#08298A;} 
#filter-container  li a:hover { color:#0040FF; }
#filter-container  li a:active{ color:#000; }

/*end of header */
/*body*/
#news-container { padding:10px; border:1px solid green; }

.item {
  width: 240px;
  min-height: 120px;
  float: left;
  margin:0 10px 10px 0;
  background: #EFEFFB;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}
.item p { margin: 1em;