/* GENERAL STYLES */
body { margin:0; padding:0; }

#header, #wrapper { min-width:837px; }

/*header part*/
#header { margin-left:auto; margin-right:auto; width:96%; position:relative;}
#bannerHolder  {display:block;  margin-left:auto; margin-right:auto; height:130px; width:60%;max-width:855px; min-width:505px;}
#banner {width:100%;}
#loginControl  { position:absolute; top:0; right:0; }
#loginControl a, #loginControl input[type="submit"] {float:right; }

/* content part */
#wrapper { width:96%; margin-left:auto; margin-right:auto; border:1px solid black; height:auto;}

.clearfix:after {content: "."; display: block; height: 0; overflow: hidden; clear: both; }

#navbox { 
	margin:0;
	padding:0;
	padding:7px 0 7px 0;
	width:100%;
	text-align:center;
	border:1px solid red; 
	list-style-type: none; 
	font-size:16px;
	
}
#navbox li { display:inline-block; margin-left:20px; position:relative;}
#navbox  li a:link, #navbox  li a:visited { text-decoration:none; color:#5882FA;} 
#navbox  li a:hover { color:#315FDF; } 
#navbox  li a:active { color:#000; }

#navbox li:hover ul { display:block; }
#navbox li ul { display:none; border:1px solid #777777; position:absolute; 
			background-color:#A4A4A4; left:-20px; z-index:100; list-style-type:none; padding:0;}
#navbox li ul li { display:inline-block; white-space:nowrap; margin:0; width:100%; border-bottom:1px solid #555555; padding:3px;}
#navbox li ul li:last-child { border:none; }

#filter-container { 
	text-align:center; 
	margin-left:auto; 
	margin-right:auto; 
	padding:0; 
	margin-bottom:2em;
	list-style-type: none; 
}
#filter-container  li { 
	display:inline-block; 
	padding:7px; 
	background-color:#BDBDBD; 
	border-radius: 5px;
	box-shadow: 2px 3px 5px #888888;
}
#filter-container  li a:link,#filter-container  li a:visited  { text-decoration:none; color:#08298A;} 
#filter-container  li a:hover { color:#0040FF; }
#filter-container  li a:active{ color:#000; }

#news-container { padding:10px; border:1px solid green; margin-left:20px; }

.item {
  width: 240px;
  min-height: 120px;
  float: left;
  margin:0 10px 10px 0;
  background: #EFEFFB;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}
.item p { margin: 1em; }
.item p:last-child { font-size:10pt;

@media screen and (max-width: 1024px){ 
	
}