<ng-include src="'partials/navigation.html'"></ng-include>
<div class="container" ng-controller="NbaCtrl">
	<div class="row">
	<h2>NBA</h2>
	</div>
	<div class="row">
		<table class="table">
			<thead>
				<th>Title</th>
				<th>Description</th>
				<th>PubDate</th>
			</thead>
			<tbody>
				<tr ng-repeat="news in nba">
					<td><a href="{{ news.link }}">{{ news.title }}</a></td>
					<td>{{ news.description }}</td>
					<td>{{ news.pubDate }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>